h1 {
  font-family: "Avenir Next";
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
  color: #4A4A4A;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 44px;
  padding-right: 44px;
}
