body {
  margin: 0 auto;
  font-family: "Avenir Next";
}

strong {
  color: #03A9F4;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
  color: #4A4A4A;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 44px;
  padding-right: 44px;
}

.main {
  margin-top: 2px;
  margin-left: 2px;
  display: flex;
  flex-wrap: wrap;
}

.main a {
  flex: 1 1 auto;
  margin-right: 2px;
  margin-bottom: 2px;
  max-width: calc(50% - 2px);
}

.main a img {
  width: 100%;
}

.search-form {
  text-align: center;
}
